---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'footer'>

const { ...attrs } = Astro.props

const year = new Date().getFullYear()

const { website, author } = Astro.locals.config
---

<footer font-bold text-3 un-flex="~ col gap-1" un-lg="gap-3.5" {...attrs}>
  <p>
    © {year} <strong>Your Name</strong><br />
    Built with <a href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro</a><br />
    Theme inspired by <a href="https://moeyua.com" target="_blank" rel="noopener noreferrer">Moeyua</a>
  </p>
  <p>
    Theme
    <a target="_blank" href="https://github.com/Moeyua/astro-theme-typography" rel="noopener noreferrer">Typography</a>
     by <a target="_blank" href="https://moeyua.com" rel="noopener noreferrer">Moeyua</a>
  </p>
  <p>
    Proudly published with
    <a target="_blank" href="https://astro.build" rel="noopener noreferrer">Astro</a>
  </p>
</footer>
